.authorization-div {
  margin-top: 10px;
  margin-bottom: 10px;
}

.logout-form {
  margin-top: 10px;
}

.submitLink {
	  background-color: transparent;
	  border: none;
	  color: black;
	  cursor: pointer;
	}
	submitLink:focus {
	  outline: none;
	}